In [1]:
import pandas as pd
import numpy as np

In [4]:
lista= [0.25,0.5,0.75,1]
data= pd.Series(lista)
data

# Series adds a Serailzation queue to the array

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
population_dict = { 'California':234567887654, 'Texas':123874464645, 'New York': 546318564454, 'Bogota': 40000000}
poplulation = pd.Series(population_dict)
poplulation

California    234567887654
Texas         123874464645
New York      546318564454
Bogota            40000000
dtype: int64

In [10]:
poplulation['California':'Bogota']

California    234567887654
Texas         123874464645
New York      546318564454
Bogota            40000000
dtype: int64

In [12]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [13]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [14]:
pd.Series({2:'a',3:'b'})

2    a
3    b
dtype: object

In [15]:
pd.Series({2:'a',2:'b',2:'c'})

2    c
dtype: object

In [16]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [17]:
pd.Series({2:'a',1:'b',3:'c'},index=[2,2,1,3,3,3])

2    a
2    a
1    b
3    c
3    c
3    c
dtype: object

In [ ]:
# Dataframes